<!DOCTYPE html>
<html lang="en" ng-app="Yellowfish">
    <head>
        <title>Yellowfish Filkonvertering</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="img/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!-- Third party frameworks -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

        <!-- Application -->
        <script src="app/app.module.js"></script>
        <script src="app/app.constants.js"></script>

        <script src="app/views/upload/upload.controller.js"></script>

        <!-- Services -->
        <script src="app/services/convert.service.js"></script>

        <!-- Directivs -->
        <script src="app/directives/angular-file-input.js"></script>

        <!-- Utils -->
        <script src="javascript/formatXml.js"></script>

        <script>
            // A bit of an ugly hack to get a better looking file picker. Should preferably be placed in a directive.
            $(function() {
                $('.custom-file-input').on('change', function() {
                    let fileName = $(this).val().split('\\').pop();
                    $(this).next('.custom-file-label').addClass("selected").html(fileName);
                });
            });
        </script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img src="img/rsz_112_yellowfish_150ppi.png" height="40">
                </a>
            </div>
        </nav>

        <div class="container">
            <div class="view" ng-controller="UploadController as uploadFile">
                <h3 class="display-4">Filkonvertering</h3>

                <p class="lead">
                    Ladda upp en fil för konvertering. Filen måste vara en textfil (.txt).
                </p>

                <div class="alert alert-danger" role="alert" ng-show="uploadFile.error">
                    <p>
                        Ett fel inträffade och det gick inte att läsa filen. Mest sannolikt beror felet på att du gjort fel och valt en fil som inte följer riktlinjerna i <strong>Programmeringsuppgifter-2018-05-07-Fredrik Ohlsson.mail</strong>.
                    </p>

                    Gör om gör rätt :)
                </div>

                <form id="uploadForm">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file" ng-model="uploadFile.file" accept="text/plain">
                            <label class="custom-file-label" for="file">Välj fil</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-click="uploadFile.submit()" ng-disabled="!uploadFile.file">Konvertera</button>
                </form>

                <div ng-show="uploadFile.result">
                    <hr>

                    <div class="row" ng-show="uploadFile.result">
                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">Från {{uploadFile.result.source.fileName}}</h5>
                                <div class="card-body preformatted" ng-bind="uploadFile.result.source.data"></div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card">
                                <h5 class="card-header">Konverterat till</h5>
                                <div class="card-body preformatted" ng-bind="uploadFile.result.target"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>